{% extends 'JAutoPaintApp/index.html' %} {% load static %} {% block content %}

<head>
    <title> New Paint Job | Juan's Auto Paint </title>
</head>
<style>
</style>

<body>
    <div class="container">
        <h1>New Paint Job</h1>
        <form method="POST" action="{% url 'newpaintjob' %}">{% csrf_token %}
            <br>
            <h2 style="text-align: center;">New Paint Job</h2>
            <br>
            <br>

            <img src="{% static 'img/defcar.png' %}" alt="Profile Picture" style="width:15%; position: relative; top: 20%; left: 30%;">
            <img src="{% static 'img/arrow.png' %}" alt="Profile Picture" style="width:5%; position: relative; top: 20%; left: 30%;">
            <img src="{% static 'img/defcar.png' %}" alt="Profile Picture" style="width:15%; position: relative; top: 20%; left: 30%;">

            <br>
            <br>
            <div style="width: 40%;">
                <div class="row">
                    <div class="col">
                        <label>Plate No.</label>
                    </div>
                    <div class="col">
                        <input type="text" name="plate_num" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>Current Color</label>
                    </div>
                    <div class="col">
                        <select id="curr_color" name="curr_color" class="form-control form-select" required>
                            <option  value = "Default" selected>Default</option>
                            <option value = "Green">Green</option>
                            <option value = "Red">Red</option>
                            <option value = "Blue">Blue</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>Target Color</label>
                    </div>
                    <div class="col">
                        <select id="target_color" name="target_color" class="form-control form-select" required>
                            <option  value = "Default" selected>Default</option>
                            <option value = "Green">Green</option>
                            <option value = "Red">Red</option>
                            <option value = "Blue">Blue</option>
                        </select>
                    </div>
                </div>

            
                <div class="row float-left mt-4">
                    <div class="col">
                        <input type="submit" class="btn" style="background-color: #ea6a5b; color: white; width: 50%;">
                    </div>
                </div>
                </form>

            </div>
    </div>
    
</body>
{% endblock %}